@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/Lato.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/Lato.woff2') format('woff2'), /* Modern Browsers */
         url('/assets/fonts/Lato.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/Lato.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/LatoHeavy.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/LatoHeavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/LatoHeavy.woff2') format('woff2'), /* Modern Browsers */
         url('/assets/fonts/LatoHeavy.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/LatoHeavy.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}