---
---

#wrapper {
    padding-left: 0;
    // @include transition(all 0.5s ease);
    &.toggled {
        padding-left: 250px;
    }
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    // @include transition(all 0.5s ease);
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    .nav {
        background: #fff;
        max-height: 76px;
        a {
            padding: 26px 15px;
            display: block;
            &:hover {
                text-decoration: none;
            }
            i {
                font-size: 18px;
            }
        }
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style: none;
                display: inline-block;
                span {
                    margin-left: 10px;
                    font-size: 14px;
                }
            }
        }
    }
    section {
        background: #fff;
        margin: 30px;
        // @include border-radius(2px);
        padding: 30px;
        a {
            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
        a:focus {
            outline: 0;
        }
        // Code
        // -----------------------------------------------------
        pre {
            padding: 0;
            // font-size: ($font-size-base - 2);
            // background: rgba($pre-bg, 0.6);
            // border-radius: ($border-radius-base / 2);
            margin-top: 20px;
            // @media screen and (min-width: $screen-md-min) {
                // margin-top: 0;
            // }
            code {
                font-size: inherit;
                color: inherit;
                white-space: pre-wrap;
                background-color: transparent;
                border-radius: 0;
            }
            .hljs {
                // padding: $line-height-computed;
                background: none;
            }
        }
    }
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
        line-height: 40px;
        margin-bottom: 8px;
        > a {
            padding: 0 24px;
            display: block;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.7);
            &.active {
                padding-left: 21px;
                color: #fff;
                i {
                    // @include rotate(90deg);
                }
            }
            &:hover {
                text-decoration: none;
                color: #fff;
                background: rgba(255, 255, 255, 0.2);
            }
            &:active,
            &:focus {
                text-decoration: none;
            }
            > span {
                float: right;
                > i {
                    // @include transition(0.4s);
                }
            }
        }
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style: none;
                a {
                    color: rgba(255, 255, 255, 0.7);
                    display: block;
                    padding: 0 24px 0 40px;
                    &:hover,
                    &:active {
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
        }
    }
    .active {
        display: block;
    }
    > .sidebar-brand {
        font-size: 17px;
        margin-bottom: 16px;
        a {
            padding: 20px 24px;
            color: #fff;
            .brand-wrapper {
                position: relative;
                width: 36px;
                height: 36px;
                background: url('../img/sidebar_brand.png') no-repeat;
                // @include image-2x('../img/sidebar_brand2x.png',
                // 36px,
                // 36px);
                span {
                    position: absolute;
                    top: 0;
                    // left: 42px;
                    z-index: 30;
									  white-space: nowrap;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 250px;
        &.toggled {
            padding-left: 0;
        }
    }
    #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


#site-header .navbar-wrapper a {
  color: #fff; }

#site-footer {
  background: #2d232f; }

::-moz-selection {
  background: #0a9928;
  color: #ffffff; }

::selection {
  background: #0a9928;
  color: #ffffff; }

.jumbotron {
  background-color: #24911d; }
  .jumbotron .btn-outline-inverse {
    border: 2px solid #ffffff;
    color: #ffffff; }
    .jumbotron .btn-outline-inverse:hover, .jumbotron .btn-outline-inverse:focus {
      background: #ffffff;
      color: #24911d; }

pre {
  background: rgba(246, 248, 252, 0.6); }
  pre code {
    color: inherit;
    background-color: transparent; }
  pre .hljs {
    background: none; }

body.docs {
  background: #f6f8fc; }

#content code {
  color: #a2a5ad;
  background-color: #f6f8fc; }

#sidebar-wrapper {
  background: #24911d; }

#page-content-wrapper .nav a {
  color: #a2a5ad; }
  #page-content-wrapper .nav a:hover {
    color: #7a7f8a; }
  #page-content-wrapper .nav a i {
    font-size: 18px; }

.sidebar-nav > li a:hover {
  background: #2d232f; }
.sidebar-nav > li a.active {
  border-left: 3px solid #0a9928;
  color: #fff; }
.sidebar-nav > .sidebar-brand a {
  background: #2d232f; }
  .sidebar-nav > .sidebar-brand a:hover {
    background: #2d232f; }


#site-header, #site-footer {
  background-image: linear-gradient(135deg,#79ba10 0,#24911d 100%);
  background-image: url("../img/jumbotron_pattern.png");
  background-color: #24911d;
  background-size: cover;
}

#site-header .jumbotron {
  background-image: none;
}

#site-header .horizontalNav {
  border: 1px solid #0a9928;
}

#site-footer p {
  color: rgba(255, 255, 255, .6);
}

#site-footer p a {
  color: rgba(255, 255, 255, .9);
}

.technologies {
  background: #24911d;
  display: none;
}

.jumbotron {
  background-color: unset;
}

.nav .container-fluid .row .pull-right {
  display: none;
}

#sidebar-wrapper {
  background-image: linear-gradient(135deg,#79ba10 0,#24911d 100%);
  background-image: url("../img/jumbotron_pattern.png");
  background-color: #24911d;
  background-size: cover;
}

.sidebar-nav > .sidebar-brand a, .sidebar-nav > .sidebar-brand a:hover {
  background: unset;
}

.sidebar-nav > li a.active {
  border-left: 3px solid #fff;
}

.sidebar-nav > li a:hover {
  background: rgba(255, 255, 255, .12);
}